---
# Main style
---

// *** Settings ***
.test {
  color: #000;
  height: 200px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 300px;
}

// *** Components ***

// *** Layout ***
