// *** Settings ***
.test {
  position: relative;
  width: 300px;
  height: 200px;
  font-size: 20px;
  background-color: #000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

// *** Components ***

// *** Layout ***
